version: 1.0.3.{build}
image: Visual Studio 2017
configuration:
  - Debug
  - Release
environment:
  COVERALLS_REPO_TOKEN:
    secure: DdD3jNDWWc9P2mPMGRumtwvNXQ83nT1G9cnMmAy2RgCbO6tVsam2a8Fw6wnagXyO
before_build:
- cmd: dotnet restore
build:
  verbosity: minimal
after_build:
- cmd: ''
for:
-
    matrix:
        only:
            - configuration: Debug
    test_script:
    - ps: >-
        nuget install xunit.runner.console -OutputDirectory packages -Version 2.3.1

        nuget install OpenCover -OutputDirectory packages -Version 4.6.519

        nuget install coveralls.net -OutputDirectory packages -Version 0.7.0


        .\packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -target:dotnet.exe "-targetargs:"".\packages\xunit.runner.console.2.3.1\tools\netcoreapp2.0\xunit.console.dll"" ""csMatrix.Tests\bin\Debug\netcoreapp2.0\csMatrix.Tests.dll"" -noshadow -appveyor" -filter:"+[csMatrix*]*" -oldStyle -output:opencoverCoverage.xml

        $coveralls = ".\packages\coveralls.net.0.7.0\tools\csmacnz.Coveralls.exe"

        & $coveralls --opencover -i ./opencoverCoverage.xml --repoToken $env:COVERALLS_REPO_TOKEN --commitId $env:APPVEYOR_REPO_COMMIT --commitBranch $env:APPVEYOR_REPO_BRANCH --commitAuthor $env:APPVEYOR_REPO_COMMIT_AUTHOR --commitEmail $env:APPVEYOR_REPO_COMMIT_AUTHOR_EMAIL --commitMessage $env:APPVEYOR_REPO_COMMIT_MESSAGE --jobId $env:APPVEYOR_JOB_ID